@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(workoutbg.png);
    /*linear-gradient(-135deg,#4b3728,#b39178);*/
    background-size:cover;
    background-repeat: no-repeat;
    gap:20px;
}
h1,h3{
    color: #CDA851;
    padding: 10px;
}
.content{
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    gap:10px;
  }

.content .card{
    background-color:#644e3b;
    width: 180px;
    margin: 8px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #CDA851;
  }
  
.content .card .service-icon{
    color: #e2be69;
    font-size: 5em;
    text-align: center;
    transition: transform 0.5s ease;
  }
  
.content .card:hover .service-icon{
    transform: translateY(-10px);
}
  
.content .card h3{
    color: #CDA851;
    font-size: 1em;
    font-weight: 700;
    margin: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color:#4b3728;
    padding: 20px;
    border: none;
    border-radius: 10%;
}
.outerform{
    display: none;
}
.form input{
    padding:0.5rem;
    font-size: 1rem;
    border: none;
    background:#fdf5e9;
}

.form button{
    width:100px;
    height: 30px;
    font-size: 10px;
    font-weight: 1000;
    background-color:#96775B;
    color:#e2be69;
    border: none;
    border-radius: 2px;
}

.walkbtn,
.strengthbtn,
.cardiobtn,
.sportbtn{
    background-color:#644e3b;
    width: 200px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    color: #CDA851;
    border: 2px solid #CDA851;
}

p{
    color: #e2be69;
    background-color: #644e3b;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #96775B;
}