*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-image:linear-gradient(120deg,#e2c35d,#d88771);*/
    background-image: url(https://cdn.pixabay.com/photo/2020/05/08/10/54/mountain-5145156_1280.jpg);
    background-size:auto;
    color:#152238;
    font-family: 'Balsamiq Sans', cursive; /*'Nunito', sans-serif;*/
    min-height: 100vh;
}

header{
    font-size: 2rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form button{
    padding:0.5rem;
    font-size: 1.5rem;
    border: none;
    background:white;
}

form button{
    color:#152238;
    background: white;
    cursor:pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #152238;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width:30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background:white;
    color:black;
    font-size: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex:1;
    text-align: center;
}

.complete-btn,.trash-btn{
    background-color: #152238;
    color:white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background-color: #3e63a5;
}

.trash-btn:hover{
    color: #152238;
    background:  white;
}
.complete-btn:hover{
    color: #3e63a5;
    background: white;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,.fa-check{
    pointer-events: none;   
}
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.deletion{
    transform: translateY(10rem);
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border:none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow:hidden;
}

select{
    color: #152238;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content:"\25BC";
    position: absolute;
    background:#152238;
    top:0;
    right:0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background:white;
    color:#152238;

}