body{
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3f3025;
  gap:40px;

}

.timer{
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 30px 34px;
  border-radius: 30px;
  background-color:#d6ae89;
  color: #3f3025;
  font-size: 100px;
  font-weight: bold;
  margin: 20px;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#controls button {
  background-color: #d6ae89;
  color: #3f3025;
  width: 90px;
  height: 90px;
  font-size:50px;
  border-radius: 50%;
  border: none;
}

#controls button:hover{
  color: #d6ae89;
  background-color: #3f3025;
}

